

body {
	margin: 0;
	font-family: Arial;
}

.bar {
	width: 100%;
	background-color: #2753a5;
}

.bar, .subbar {
	color: white;
	padding: 8px 4px;
}

.subbar {
	padding: 4px 8px;
	font-size: 0.8em;
	background-color: #7ca8d3;
}

.profile {
	width: 100%;
	display: inline-grid;
	justify-content: center;
}

.boxes {
	width: 100vw;
	max-width: 1000px;
	display: inline-flex;
}

.left {
	width: 40%;
	margin: 20px;
}

.right {
	width: 60%;
	margin: 20px;
}

@media (max-width:670px) {
	.boxes {
		display: block;
	}

	.left, .right {
		width: calc(100% - 20px * 3)
	}
}
.box {
	width: 100%;
	margin: 10px 10px;
	border: 2px solid transparent;
}

.box.title h2 {
	margin: 0px;
}

.box.about img {
	min-width: 200px;
	max-width: 200px;
	min-height: 200px;
	max-height: 200px;
}

.box.about {
	display: flex;
}

.box.about .info {
	padding: 15px;
}

.box.about.div

.box.link a {
	margin-left: 5px;
}

.box.contact .grid {
	display: inline-flex;
}

.box.contact .grid div {
	width: 40%;
}

.box.song audio {
	width: 100%;
	height: 32px;
}

.box.outline {
	border: 2px solid #CBD5DB;
}

.box h4, .box .head {
	color: #CC6633;
}

.box .head {
	font-weight: 700;
	padding: 2px 15px;
	background-color: #FFCC99;
	border: 2px solid #FFCC99;
}

.box.outline .head {
	color: white;
	background-color: #6699CC;
	border: 2px solid #6699CC;
	border-bottom: 2px solid #CBD5DB;
}
